<div class="row">
	<div class="col-lg-12 center" style="padding: 20px 0px;font-weight:bold;background-color:#DCDCDC;">
		<div class="col-lg-2 col-lg-offset-1">
			<%=topproducts[0].base_currency.toUpperCase()%>: $<%=parseFloat(topproducts[0].price).toFixed(8)%>
		</div>
		<div class="col-lg-2">
			<%=topproducts[1].base_currency.toUpperCase()%>: $<%=parseFloat(topproducts[1].price).toFixed(8)%>
		</div>
		<div class="col-lg-2">
			<%=topproducts[2].base_currency.toUpperCase()%>: $<%=parseFloat(topproducts[2].price).toFixed(8)%>
		</div>
		<div class="col-lg-2">
			<%=topproducts[3].base_currency.toUpperCase()%>: $<%=parseFloat(topproducts[3].price).toFixed(8)%>
		</div>
		<div class="col-lg-2">
			<%=topproducts[4].base_currency.toUpperCase()%>: $<%=parseFloat(topproducts[4].price).toFixed(8)%>
		</div>
	</div>
	<div class="col-lg-12 center" style="font-weight:bold;background-color:#DCDCDC;">
		<div class="col-lg-2 col-lg-offset-1">
			<%=topproducts[5].base_currency.toUpperCase()%>: $<%=parseFloat(topproducts[0].price).toFixed(8)%>
		</div>
		<div class="col-lg-2">
			<%=topproducts[6].base_currency.toUpperCase()%>: $<%=parseFloat(topproducts[1].price).toFixed(8)%>
		</div>
		<div class="col-lg-2">
			<%=topproducts[7].base_currency.toUpperCase()%>: $<%=parseFloat(topproducts[2].price).toFixed(8)%>
		</div>
		<div class="col-lg-2">
			<%=topproducts[8].base_currency.toUpperCase()%>: $<%=parseFloat(topproducts[3].price).toFixed(8)%>
		</div>
		<div class="col-lg-2">
			<%=topproducts[9].base_currency.toUpperCase()%>: $<%=parseFloat(topproducts[4].price).toFixed(8)%>
		</div>
	</div>
	<div class="col-lg-12 center" style="padding: 20px 0px 20px 0px;background-color:#DCDCDC;">
		<strong>Price Data brought to you free by <a href="">www.totalcryptos.com</a></strong>
	</div>
</div>
