<!DOCTYPE html>
<html>
  <head>
    <!--
      Propeller ads
    -->
    <?php echo include_once (dirname(__FILE__) . '/__AntiAdBlock.php'); ?>
    <meta name="propeller" content="0b0ac7cf500bac7b710241b83097ec94">
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>
    <!--
      End of propeller Ads
    -->

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    

    <!--STYLES-->
    <link rel="stylesheet" href="/min/production.min.css">
    <!--STYLES END-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
  </head>

  <body>
  <div class="se-pre-con"></div>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>

	(adsbygoogle = window.adsbygoogle || []).push({

	google_ad_client: "ca-pub-7718496085786372",

	enable_page_level_ads: true

	});

	</script>

<nav class="navbar navbar-inverse navbar-fixed-top hidden-xs">
  <div class="container-fluid ">
  <div class="row Header">
    <div class="col-md-2">
          <a href="/">
            <img class="img-responsive" src="/images/Logo2.png" height="70px" alt="TotalCryptosLogo">
          </a>
    </div>
    <div class="col-md-5">

      <div class="row wrapper">
          <div class="col-lg-12 marquee_div">
            <ul class="list-aggregate" id="top_exchange">
              <%gdax.forEach(function(product){%>
              <li class="marquee_list_item <%=product.id%>">
               <div class="row">
                <div class="col-md-6">
                  <h4>
                    <a href="volume-24-hour-market/<%=product.display_name.replace('/','')%>">
                    <%=product.display_name%>
                    </a>
                    <b>&nbsp;<% if(parseFloat(product.ticker.variation)>0){ %>
                    <span style="color:green;"><%=parseFloat(product.ticker.variation).toFixed(2)%>%</span>
                    <%}else if(product.ticker.variation!=undefined){ %>
                    <span style="color:red;"><%=parseFloat(product.ticker.variation).toFixed(2)%>%</span>
                    <%}%>
                    </b>  
                  </h4>
                  <h4>
                  <%=parseFloat(product.ticker.price).toFixed(2)%>&nbsp;<%=product.quote_currency%>
                  </h4>
                  <h4>Volume:&nbsp;<%=parseFloat(product.ticker.volume).toFixed(2)%> <%=product.base_currency%></h4>
                </div>
                <div class="col-md-4">
                  <br/>
                  <div class="chart_<%=product.id%>"><input type="hidden" class="hidden_<%=product.id%>" value="<%=product.ticker.chart%>"/></div>
                </div>
                <div class="col-md-2">
                </div>
               </div> 
               </li>
              <%});%>
             </ul>
          </div>        
        </div>

    </div>
    <div class="col-md-3">
      <div class="row h-50 menu">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/">HOME</a></li>
            <li><a href="/api/documentation">API</a></li>
            <li><a href="/TCindex">TC Indexes</a></li>
            <li><a href="/about">ABOUT US</a></li>           
          </ul>
      </div>
      <!--
      <div class="row col-md-12 h-50">
           Saved for future use in ADS 
      </div>
      -->
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
      <a href="http://www.bloc10.com/">
        <img class="img-responsive" src="/images/LogoBloc.png" height="70px" alt="Bloc10.com">
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3><a class="aBanner" href="/tc-history">Price of TC 100: <strong><span class="tc100">$<%=cryptoData.tc100%></span></strong></a></h3>
    </div>
    <div class="col-md-4">
      <h3><a class="aBanner" href="/tc-history">Total Market Cap in USD: <strong><span class="FormatNum total_usd_market_cap">$<%=cryptoData.total_usd_market_cap%></span></strong></a></h3>
    </div>
    <div class="col-md-4">
      <h3>
        <a class="aBanner" href="/tc-history">TCw100: <strong><span class="tcw100"><%=cryptoData.tcw100%></span></strong></a>
      </h3>
    </div>
  </div>
  </div>
</nav>

<nav class="navbar navbar-inverse navbar-fixed-top hidden-sm hidden-md hidden-lg">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img class="img-responsive" src="/images/LogoSmall.png" height="70px" alt="TotalCryptosLogo">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">HOME</a></li>
    <li><a href="/api/documentation">API</a></li>
    <li><a href="#">CONTAC US</a></li>
    <li><a href="#">ABOUT US</a></li> 
      </ul>
    </div>
  </div>
</nav> 

  <div class="container-fluid">
  
    <%- body %>
    
  </div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 center" style="padding: 20px 0px;font-weight:bold;background-color:#DCDCDC;">
      <div class="col-lg-2 col-lg-offset-1">
        <%=topproducts[0].base_currency.toUpperCase()%>: $<%=parseFloat(topproducts[0].price).toFixed(8)%>
      </div>
      <div class="col-lg-2">
        <%=topproducts[1].base_currency.toUpperCase()%>: $<%=parseFloat(topproducts[1].price).toFixed(8)%>
      </div>
      <div class="col-lg-2">
        <%=topproducts[2].base_currency.toUpperCase()%>: $<%=parseFloat(topproducts[2].price).toFixed(8)%>
      </div>
      <div class="col-lg-2">
        <%=topproducts[3].base_currency.toUpperCase()%>: $<%=parseFloat(topproducts[3].price).toFixed(8)%>
      </div>
      <div class="col-lg-2">
        <%=topproducts[4].base_currency.toUpperCase()%>: $<%=parseFloat(topproducts[4].price).toFixed(8)%>
      </div>
    </div>
    <div class="col-lg-12 center" style="font-weight:bold;background-color:#DCDCDC;">
      <div class="col-lg-2 col-lg-offset-1">
        <%=topproducts[5].base_currency.toUpperCase()%>: $<%=parseFloat(topproducts[0].price).toFixed(8)%>
      </div>
      <div class="col-lg-2">
        <%=topproducts[6].base_currency.toUpperCase()%>: $<%=parseFloat(topproducts[1].price).toFixed(8)%>
      </div>
      <div class="col-lg-2">
        <%=topproducts[7].base_currency.toUpperCase()%>: $<%=parseFloat(topproducts[2].price).toFixed(8)%>
      </div>
      <div class="col-lg-2">
        <%=topproducts[8].base_currency.toUpperCase()%>: $<%=parseFloat(topproducts[3].price).toFixed(8)%>
      </div>
      <div class="col-lg-2">
        <%=topproducts[9].base_currency.toUpperCase()%>: $<%=parseFloat(topproducts[4].price).toFixed(8)%>
      </div>
    </div>
    <div class="col-lg-12 center" style="padding: 20px 0px 20px 0px;background-color:#DCDCDC;">
      <strong>Price Data brought to you free by <a href="">www.totalcryptos.com</a></strong>
    </div>
  </div>
</div>	
    
    <!--SCRIPTS Media-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/c3.min.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/d3.min.js"></script>
    <script src="/js/datatables.min.js"></script>
    <script src="/js/easing.min.js"></script>
    <script src="/js/hoverIntent.js"></script>
    <script src="/js/jquery.marquee.js"></script>
    <script src="/js/jquery.sparkline.min.js"></script>
    <script src="/js/superfish.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <!--SCRIPTS END-->
    <!--SCRIPTS Propeller-->
    <script type="text/javascript" src="//go.oclaserver.com/apu.php?zoneid=1616040"></script>
    <!--SCRIPTS END-->
    <!--SCRIPTS Media.net-->
    <script id="mNCC" language="javascript">
    medianet_width = "120";
    medianet_height = "600";
    medianet_crid = "284193540";
    medianet_versionId = "3111299"; 
    </script>
    <script src="//contextual.media.net/nmedianet.js?cid=8CU3I4F8W"></script>
    <!--SCRIPTS END-->
	<script>
	$(window).load(function() {
		$(".se-pre-con").fadeOut("slow");;
	});
	</script>
  </body>
</html>
