<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="<%=typeof title == 'undefined' ? 'New Sails App' : title%>"/>
	<meta name="description" content="<%=typeof meta_description == 'undefined' ? '' : meta_description%>"/>
	<meta property="og:image" content="<%=typeof og_img == 'undefined' ? '' : og_img%>" />
    <!--STYLES data-->
	<link rel="icon" href="/favicon.png?version=2" type="image/png">
    <link rel="stylesheet" href="/styles/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/lib/c3.min.css">
    <link rel="stylesheet" href="/styles/lib/vendor.css">
    <link rel="stylesheet" href="/styles/lib/liMarquee.css">
    <link rel="stylesheet" href="/styles/jquery.countdownTimer.css">
	
    <!--STYLES END-->
	<link rel="stylesheet" href="/styles/theme/theme-blue.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css">
	<script>
	var themeSettings = (localStorage.getItem('themeSettings')) ? JSON.parse(localStorage.getItem('themeSettings')) :
	{};
	var themeName = themeSettings.themeName || '';
	if (themeName)
	{
	document.write('<link rel="stylesheet" id="theme-style" href="/styles/theme/theme-' + themeName + '.css">');
	}
	else
	{
	document.write('<link rel="stylesheet" id="theme-style" href="/styles/theme/theme-blue.css">');
	}
	</script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <link rel="stylesheet" href="/styles/customize.css">
	
	<script type="text/javascript" src= "https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js"></script>
	<script type="text/javascript" src="https://code.highcharts.com/stock/highstock.js"></script>
	<script type="text/javascript" src="https://code.highcharts.com/stock/modules/exporting.js"></script> 
	
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117305391-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-117305391-1');
  </script>

  <!-- sumo sidebar script starts -->
  <script async>
  (function(s,u,m,o,j,v){j=u.createElement(m);v=u.getElementsByTagName(m)[0];j.async=1;j.src=o;j.dataset.sumoSiteId='48d6e63c8db955223acbca640f21acbf8577e899f41f3705d63c6eba5f645b0b';v.parentNode.insertBefore(j,v)})(window,document,'script','//load.sumo.com/');
  </script>
  <!-- sumo sidebar script end -->
  </head>

  <body>
  <div class="se-pre-con"></div>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>

	(adsbygoogle = window.adsbygoogle || []).push({

	google_ad_client: "ca-pub-7718496085786372",

	enable_page_level_ads: true

	});

	</script>

	<header> 
        <nav class="navbar navbar-expand-lg navbar-dark main-nav">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBar" aria-controls="mainNavBar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button> 
			
			<div class="collapse navbar-collapse" id="mainNavBar">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item <%if(path=='/'){%>active <%}else{%> ''<%}%>">
						<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item dropdown <%if((path=='/exchange_prices/totalcryptospriceusd') || (path=='/exchange_prices/totalcryptospriceusd/details') || (path=='/exchange_prices/totalcryptospricepairs') || (path=='/exchange_prices/totalcryptospricepairs/details')){%>active <%}else{%> ''<%}%>">
						<a class="nav-link" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Total Cryptos</a>
						<div class="dropdown-menu" aria-labelledby="dropdown02">
							<a class="dropdown-item <%if((path=='/exchange_prices/totalcryptospriceusd') || (path=='/exchange_prices/totalcryptospriceusd/details')){%>active <%}else{%> ''<%}%>" href="/exchange_prices/totalcryptospriceusd">USD Based</a>
							<a class="dropdown-item <%if((path=='/exchange_prices/totalcryptospricepairs') || (path=='/exchange_prices/totalcryptospricepairs/details')){%>active <%}else{%> ''<%}%>" href="/exchange_prices/totalcryptospricepairs">Crypto Based</a>
							<a class="dropdown-item <%if(path=='/new-listing'){%>active <%}else{%> ''<%}%>" href="/new-listing">Recently Added</a>
							<a class="dropdown-item <%if(path=='/TCindex'){%>active <%}else{%> ''<%}%>" href="/TCindex">TC Indexes</a>
						</div>
					</li>
					<% 
					var exchange_sub_menu=['/exchange_prices/coin','/exchange_prices/bittrex','/exchange_prices/bitfinex','/exchange_prices/hitbtc','/exchange_prices/gate','/exchange_prices/kuna','/exchange_prices/okex','/exchange_prices/binance','/exchange_prices/huobi','/exchange_prices/gemini','/exchange_prices/kraken','/exchange_prices/bitflyer','/exchange_prices/bithumb','/exchange_prices/bitstamp','/exchange_prices/bitz','/exchange_prices/lbank','/exchange_prices/coinone','/exchange_prices/wex','/exchange_prices/exmo','/exchange_prices/liqui','/exchange_prices/korbit','/exchange_prices/bitmex','/exchange_prices/livecoin','/exchange_prices/cex','/exchange_prices/kucoin'];
					
					var exchange_sub_menu_details=['/exchange_prices/coin/details','/exchange_prices/bittrex/details','/exchange_prices/bitfinex/details','/exchange_prices/hitbtc/details','/exchange_prices/gate/details','/exchange_prices/kuna/details','/exchange_prices/okex/details','/exchange_prices/binance/details','/exchange_prices/huobi/details','/exchange_prices/gemini/details','/exchange_prices/kraken/details','/exchange_prices/bitflyer/details','/exchange_prices/bithumb/details','/exchange_prices/bitstamp/details','/exchange_prices/bitz/details','/exchange_prices/lbank/details','/exchange_prices/coinone/details','/exchange_prices/wex/details','/exchange_prices/exmo/details','/exchange_prices/liqui/details','/exchange_prices/korbit/details','/exchange_prices/bitmex/details','/exchange_prices/livecoin/details','/exchange_prices/cex/details','/exchange_prices/kucoin/details'];
					%>
					<li class="nav-item dropdown <%if((exchange_sub_menu.indexOf(path)=='-1') && (exchange_sub_menu_details.indexOf(path)=='-1')){%>'' <%}else{%> active<%}%>">
						<a class="nav-link" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Market</a>
						<div class="dropdown-menu" aria-labelledby="dropdown04"> 
						<div class="row">
						<div class="col-sm-6">
							<ul class="multi-column-dropdown">
								<li class="nav-item"></li><a class="dropdown-item <%if((path=='/exchange_prices/coin') || (path=='/exchange_prices/coin/details')){%>active <%}else{%> ''<%}%>" href="/exchange_prices/coin">COIN</a></li>
								<li class="nav-item"></li><a class="dropdown-item <%if((path=='/exchange_prices/bittrex') || (path=='/exchange_prices/bittrex/details')){%>active <%}else{%> ''<%}%>" href="/exchange_prices/bittrex">BITTREX</a></li>
								<li class="nav-item"></li><a class="dropdown-item <%if((path=='/exchange_prices/bitfinex') || (path=='/exchange_prices/bitfinex/details')){%>active <%}else{%> ''<%}%>" href="/exchange_prices/bitfinex">BITFINEX</a></li>
								<li class="nav-item"></li><a class="dropdown-item <%if((path=='/exchange_prices/hitbtc') || (path=='/exchange_prices/hitbtc/details')){%>active <%}else{%> ''<%}%>" href="/exchange_prices/hitbtc">HIT BTC</a></li>
								<li class="nav-item"></li><a class="dropdown-item <%if((path=='/exchange_prices/gate') || (path=='/exchange_prices/gate/details')){%>active <%}else{%> ''<%}%>" href="/exchange_prices/gate">GATE</a></li>
								<li class="nav-item"></li><a class="dropdown-item <%if((path=='/exchange_prices/kuna') || (path=='/exchange_prices/kuna/details')){%>active <%}else{%> ''<%}%>" href="/exchange_prices/kuna">KUNA</a></li>
								<li class="nav-item"></li><a class="dropdown-item <%if((path=='/exchange_prices/okex') || (path=='/exchange_prices/okex/details')){%>active <%}else{%> ''<%}%>" href="/exchange_prices/okex">OKEX</a></li>
								<li class="nav-item"></li><a class="dropdown-item <%if((path=='/exchange_prices/binance') || (path=='/exchange_prices/binance/details')){%>active <%}else{%> ''<%}%>" href="/exchange_prices/binance">BINANCE</a></li>
								<li class="nav-item"></li><a class="dropdown-item <%if((path=='/exchange_prices/huobi') || (path=='/exchange_prices/huobi/details')){%>active <%}else{%> ''<%}%>" href="/exchange_prices/huobi">HUOBI</a></li>
								<li class="nav-item"></li><a class="dropdown-item <%if((path=='/exchange_prices/gemini') || (path=='/exchange_prices/gemini/details')){%>active <%}else{%> ''<%}%>" href="/exchange_prices/gemini">GEMINI</a></li>
								<li class="nav-item"></li><a class="dropdown-item <%if((path=='/exchange_prices/kraken') || (path=='/exchange_prices/kraken/details')){%>active <%}else{%> ''<%}%>" href="/exchange_prices/kraken">KRAKEN</a></li>
								<li class="nav-item"></li><a class="dropdown-item <%if((path=='/exchange_prices/bitflyer') || (path=='/exchange_prices/bitflyer/details')){%>active <%}else{%> ''<%}%>" href="/exchange_prices/bitflyer">BITFLYER</a></li>
								<li class="nav-item"></li><a class="dropdown-item <%if((path=='/exchange_prices/bithumb') || (path=='/exchange_prices/bithumb/details')){%>active <%}else{%> ''<%}%>" href="/exchange_prices/bithumb">BITHUMB</a></li>
							</ul>
						</div>
						<div class="col-sm-6">
							<ul class="multi-column-dropdown">
								<li class="nav-item"></li><a class="dropdown-item <%if((path=='/exchange_prices/bitstamp') || (path=='/exchange_prices/bitstamp/details')){%>active <%}else{%> ''<%}%>" href="/exchange_prices/bitstamp">BITSTAMP</a></li>
								<li class="nav-item"></li><a class="dropdown-item <%if((path=='/exchange_prices/bitz') || (path=='/exchange_prices/bitz/details')){%>active <%}else{%> ''<%}%>" href="/exchange_prices/bitz">BITZ</a></li>
								<li class="nav-item"></li><a class="dropdown-item <%if((path=='/exchange_prices/lbank') || (path=='/exchange_prices/lbank/details')){%>active <%}else{%> ''<%}%>" href="/exchange_prices/lbank">LBANK</a></li>
								<li class="nav-item"></li><a class="dropdown-item <%if((path=='/exchange_prices/coinone') || (path=='/exchange_prices/coinone/details')){%>active <%}else{%> ''<%}%>" href="/exchange_prices/coinone">COIN-ONE</a></li>
								<li class="nav-item"></li><a class="dropdown-item <%if((path=='/exchange_prices/wex') || (path=='/exchange_prices/wex/details')){%>active <%}else{%> ''<%}%>" href="/exchange_prices/wex">WEX</a></li>
								<li class="nav-item"></li><a class="dropdown-item <%if((path=='/exchange_prices/exmo') || (path=='/exchange_prices/exmo/details')){%>active <%}else{%> ''<%}%>" href="/exchange_prices/exmo">EXMO</a></li>
								<li class="nav-item"></li><a class="dropdown-item <%if((path=='/exchange_prices/liqui') || (path=='/exchange_prices/liqui/details')){%>active <%}else{%> ''<%}%>" href="/exchange_prices/liqui">LIQUI</a></li>
								<li class="nav-item"></li><a class="dropdown-item <%if((path=='/exchange_prices/korbit') || (path=='/exchange_prices/korbit/details')){%>active <%}else{%> ''<%}%>" href="/exchange_prices/korbit">KORBIT</a></li>
								<li class="nav-item"></li><a class="dropdown-item <%if((path=='/exchange_prices/bitmex') || (path=='/exchange_prices/bitmex/details')){%>active <%}else{%> ''<%}%>" href="/exchange_prices/bitmex">BITMEX</a></li>
								<li class="nav-item"></li><a class="dropdown-item <%if((path=='/exchange_prices/livecoin') || (path=='/exchange_prices/livecoin/details')){%>active <%}else{%> ''<%}%>" href="/exchange_prices/livecoin">LIVECOIN</a></li>
								<li class="nav-item"></li><a class="dropdown-item <%if((path=='/exchange_prices/cex') || (path=='/exchange_prices/cex/details')){%>active <%}else{%> ''<%}%>" href="/exchange_prices/cex">CEX</a></li>
								<li class="nav-item"></li><a class="dropdown-item <%if((path=='/exchange_prices/kucoin') || (path=='/exchange_prices/kucoin/details')){%>active <%}else{%> ''<%}%>" href="/exchange_prices/kucoin">KUCOIN</a></li>
							</ul> 
						</div>
					</li>
					<li class="nav-item dropdown <%if(path=='/fix'){%>active <%}else{%> ''<%}%>">
						<a class="nav-link" href="/fix">BIT FIX</a> 
					</li>
					<li class="nav-item dropdown <%if(path=='/fx'){%>active <%}else{%> ''<%}%>">
						<a class="nav-link" href="/fx">FX</a> 
					</li>
					<li class="nav-item dropdown <%if(path=='/crypto-arbitrage'){%>active <%}else{%> ''<%}%>">
						<a class="nav-link" href="/crypto-arbitrage">Arbitrage</a> 
					</li>
					<li class="nav-item dropdown <%if(path=='/ico'){%>active <%}else{%> ''<%}%>">
						<a class="nav-link" href="/ico">ICO</a> 
					</li>
					<li class="nav-item <%if(path=='/about'){%>active <%}else{%> ''<%}%>">
						<a class="nav-link" href="/about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://portal.totalcryptos.com/create-an-account/">Register</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://portal.totalcryptos.com/">Portal</a>
					</li>
				</ul>
			</div>
		</nav>
		
        <div class="container-fluid header-container">
            <div class="row header-bg">
				<div class="col-md-2">
					<div class="col-lg-12 col-md-6 col-sm-12 logo_brand">
						<div class="brand">
							<h1>
							<a href="/" class="totolcryptos-logo">LOGO</a>
							</h1>
							<span class="logo-title">Total Cryptos</span>
						</div>
					</div>
				</div>
				<div class="col-md-10 marquee_div">
					<div style="text-align:center;"><img src="/images/data-loader.gif"/></div>
				</div>
            </div>
        </div>  
    </header>
	<div class="container-fluid"> 
        <div class="row main-news">
            <div class="col-lg-2 col-md-2 col-sm-6 news-title1">
                <h5><a href="/tc-history" style="text-decoration: none;">Price of TC 100: <span class="news-highlights tc100"><img width="15px" height="15px" src="/images/data-loader.gif"/></span></a></h5>
            </div>
			<div class="col-lg-2 col-md-2 col-sm-6 news-title1 text-center">
                <h5><a href="https://portal.totalcryptos.com/total-cryptos-membership" style="text-decoration: none;">Total Cryptos Membership</a></h5>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 news-title2 text-center">
                <h5><a href="/tc-history" style="text-decoration: none;">Total Market Cap in USD: <span class="news-highlights total_usd_market_cap"><img width="15px" height="15px" src="/images/data-loader.gif"/></span></a></h5>
            </div>
			<div class="col-lg-2 col-md-2 col-sm-6 news-title1 text-right">
                <h5><a href="https://portal.totalcryptos.com/create-an-account/" style="text-decoration: none;">Free Registration</a></h5>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 news-title3">
                <h5><a href="/tc-history" style="text-decoration: none;">TCw100: <span class="news-highlights tcw100"><img width="15px" height="15px" src="/images/data-loader.gif"/></span></a></h5>
            </div>
        </div> 
    </div>
	<%- body %>
	<footer class="footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<p style="font-size:12px;margin-bottom:20px;">CRYPTO CURRENCY TRADING AND INVESTING IS EXTREMELY RISKY AND ONLY SHOULD BE DONE WITH FUNDS YOU CAN AFFORD TO LOSE.  IF YOU ARE NOT COMFORTABLE WITH LOSING 100% OF YOUR DEPOSIT CONSIDER GETTING A BLOCKCHAIN JOB INSTEAD.  PAST PERFORMANCE DOES NOT IMPLY FUTURE RESULTS.  CRYPTO IS NOT SUITABLE FOR ALL INVESTORS.  PLEASE CONSULT YOUR FINANCIAL ADVISOR IF YOU ARE CONCERNED ABOUT THE HIGH RISKS ASSOCIATED WITH CRYPTO CURRENCY.  CRYPTO CURRENCY IS UNREGULATED AND THEREFORE ANY PROTECTIONS OFFERED BY REGULATIONS ARE NON-EXISTANT.  THEREFORE DO NOT BE SURPRISED IF BITCOIN (OR ANY CRYPTO CURRENCY) GOES TO ZERO IT IS UNLIKELY BUT POSSIBLE.  THIS BRIEF RISK DISCLOSURE SUMMARY CANNOT INCLUDE ALL THE POSSIBLE RISKS ASSOCIATED WITH CRYPTO CURRENCY INVESTMENT, BUT IN SUMMARY - IT IS POSSIBLE TO LOSE 100% OF YOUR INVESTMENT DUE TO A HACK, MARKET DECLINE, OR OTHER CIRCUMSTANCE.  FOR A FULL RISK DISCLOSURE CLICK HERE: <a style="color: #fff; text-decoration-line: underline; outline: 0px; text-align: center;" href="https://portal.totalcryptos.com/risk-disclosure">Risk Disclosure</a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 color-options" id="color-options">
					<h4>Color Options</h4>
					<ul class="color-options-list">
						<li>
							<span class="color-item color-blue active" data-theme="blue"></span>
						</li>
						<li>
							<span class="color-item color-red" data-theme="red"></span>
						</li>
						<li>
							<span class="color-item color-green" data-theme="green"></span>
						</li>
						<li>
							<span class="color-item color-orange" data-theme="orange"></span>
						</li>
						<li>
							<span class="color-item color-purple" data-theme="purple"></span>
						</li>
					</ul>
				</div>
				<div class="col-lg-6">
					<ul class="footer-nav">
						<li>
							<a href="/exchange_prices/totalcryptospriceusd">Total Cryptos</a><span class="divider">|</span>
						</li>
						<li>
							<a href="https://portal.totalcryptos.com/">Portal</a><span class="divider">|</span>
						</li>
						<li>
							<a href="/api/documentation">API</a><span class="divider">|</span>
						</li>
						<li>
							<a href="https://portal.totalcryptos.com/risk-disclosure">Risk Disclosure</a><span class="divider">|</span>
						</li>						
						<li>
							<a href="http://bloc10.com/">Bloc10</a>
						</li>
					</ul>
					<p class="copyright">Price Data brought to you free by <a href="https://www.totalcryptos.com">www.totalcryptos.com</a></p>
				</div>
				<div class="col-lg-3">
					<ul class="social-media-icons pull-right">
						<!--<li><a href="#"><i class="fab fa-facebook-square"></i></a></li>-->
						<li><a href="https://twitter.com/bloc10fintech" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
						<li><a href="https://www.linkedin.com/company/bloc10/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
						<li><a href="https://plus.google.com/116313405320225810938" target="_blank"><i class="fab fa-google-plus-square"></i></a></li>
						<li><a href="https://www.youtube.com/channel/UCO2Lmb22TQDeTmadV4COGnw" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer> 
	<!--SCRIPTS data-->
	<script src="/js/app.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/c3.min.js"></script>
	<script src="/js/d3.min.js"></script>
	<!--<script src="/js/jquery.marquee.js"></script>-->
	<script src="/js/jquery.liMarquee.js"></script>
	<script src="/js/jquery.sparkline.min.js"></script> 
	<script src="/js/jquery.countdownTimer.js"></script> 
	<script src="/js/remoteTime.js"></script> 
	<!--SCRIPTS END-->
	<script>
	$(window).load(function() {
		$(".se-pre-con").fadeOut("slow");
	});
	$(document).ready(function(){
		$.ajax({
			type:'GET',
			url:'/headerFooterData',
			success:function(data){
				//PROCESS TO MANAGE GDAX DATA
				var str='<div class="row" id="top_exchange">';
				data.gdax.forEach(function(product){
				  str+='<div class="header-crypto-item marquee_list_item '+product.id+'" style="width:200px;height:100px;display:inline-block;">';
                  str+='<div class="card">';
                  str+='<div class="card-body">';
                  str+='<div class="stock-title text-left">';
                  str+='<h5 class="card-title">';
				  str+='<a href="/volume-24-hour-market/'+product.display_name.replace('/','')+'">';
				  str+=product.display_name;
				  str+='</a>';
				  str+='</h5>';
				  str+='<h4 class="card-price">';
				  if(product.ticker.variation){
					str+=parseFloat(product.ticker.variation).toFixed(2)+'%';
				  }
				  str+='</h4>';
                  str+='</div>';
                  str+='<div class="stock-content text-right">';
                  str+='<p class="card-text">'+parseFloat(product.ticker.price).toFixed(2)+' '+product.quote_currency+'</p>';
                  str+='<span class="card-volume">';
				  str+='Vol: '+parseFloat(product.ticker.volume).toFixed(2)+''+product.base_currency+'</span>';
                  str+='</div>';  
                  str+='</div>';
                  str+='<div>';
				  str+='<div class="chart_'+product.id+'"><input type="hidden" class="hidden_'+product.id+'" value="'+product.ticker.chart+'"/></div>';
				  str+='</div>'; 
                  str+='</div>';
                  str+='</div>';
                });
				str+='</div>';
				$('.marquee_div').html(str);
				$('#top_exchange').liMarquee({direction: 'left',loop:-1,scrolldelay: 0,scrollamount:50,circular: true,drag:true});
			    $("#top_exchange").children('div').children('div').each(function(){
				var cls=this.className.split(" ");
				cls=cls[cls.length-1];
				if($(".hidden_"+cls)){
				  var val=$(".hidden_"+cls).val();
				  if(val!=undefined){
					$(".chart_"+cls).html('');
					$(".chart_"+cls).sparkline(val.split(","), {type: 'line',width: '100%',height: '30',lineColor: '#ff6439',fillColor: "transparent"});
				  }
				}
			    });
				
				//PROCESS TO MANAGE CRYPTO DATA
				var cryptoData=data.cryptoData;
				$(".tc100").html("$"+cryptoData.tc100);
				$(".total_usd_market_cap").html("$"+cryptoData.total_usd_market_cap.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
				$(".tcw100").html(cryptoData.tcw100);
				
				//PROCESS TO MANAGE TOP PRODUCTS DATA
				var str='';
				var topproducts=data.topproducts;
				/*if(topproducts.length==10){	
					str+='<div class="row">';
					str+='<div class="col-lg-12 center" style="padding: 20px 0px;font-weight:bold;background-color:#DCDCDC;">';
					str+='<div class="col-lg-2 col-lg-offset-1">';
					str+=topproducts[0].base_currency.toUpperCase()+': $'+parseFloat(topproducts[0].price).toFixed(8);
					str+='</div>';
					str+='<div class="col-lg-2">';
					str+=topproducts[1].base_currency.toUpperCase()+': $'+parseFloat(topproducts[1].price).toFixed(8);
					str+='</div>';
					str+='<div class="col-lg-2">';
					str+=topproducts[2].base_currency.toUpperCase()+': $'+parseFloat(topproducts[2].price).toFixed(8);
					str+='</div>';
					str+='<div class="col-lg-2">';
					str+=topproducts[3].base_currency.toUpperCase()+': $'+parseFloat(topproducts[3].price).toFixed(8);
					str+='</div>';
					str+='<div class="col-lg-2">';
					str+=topproducts[4].base_currency.toUpperCase()+': $'+parseFloat(topproducts[4].price).toFixed(8);
					str+='</div>';
					str+='</div>';
					str+='<div class="col-lg-12 center" style="font-weight:bold;background-color:#DCDCDC;">';
					str+='<div class="col-lg-2 col-lg-offset-1">';
					str+=topproducts[5].base_currency.toUpperCase()+': $'+parseFloat(topproducts[0].price).toFixed(8);
					str+='</div>';
					str+='<div class="col-lg-2">';
					str+=topproducts[6].base_currency.toUpperCase()+': $'+parseFloat(topproducts[1].price).toFixed(8);
					str+='</div>';
					str+='<div class="col-lg-2">';
					str+=topproducts[7].base_currency.toUpperCase()+': $'+parseFloat(topproducts[2].price).toFixed(8);
					str+='</div>';
					str+='<div class="col-lg-2">';
					str+=topproducts[8].base_currency.toUpperCase()+': $'+parseFloat(topproducts[3].price).toFixed(8);
					str+='</div>';
					str+='<div class="col-lg-2">';
					str+=topproducts[9].base_currency.toUpperCase()+': $'+parseFloat(topproducts[4].price).toFixed(8);
					str+='</div>';
					str+='</div>';
					str+='<div class="col-lg-12 center" style="padding: 20px 0px 20px 0px;background-color:#DCDCDC;">';
					str+='<strong>Price Data brought to you free by <a href="">www.totalcryptos.com</a></strong>';
					str+='</div>';
					str+='</div>';	
					$("#top_products").html(str);
				}*/	
			}
		});
		
		//BANNER IMAGES
		var $imgs1 = $(".fader1").find("a");
		var $imgs2 = $(".fader2").find("a");
		var $imgs3 = $(".fader3").find("a");
		var i = 0, j=0, k=0;
		function changeBanner1(){
			var next1 = (++i % $imgs1.length);
			$($imgs1.get(next1 - 1)).fadeOut(0);
			$($imgs1.get(next1)).fadeIn(1000);
		}
		setInterval(changeBanner1, 15000);
		
		function changeBanner2(){
			var next2 = (++j % $imgs2.length);
			$($imgs2.get(next2 - 1)).fadeOut(0);
			$($imgs2.get(next2)).fadeIn(1000);
		}
		setInterval(changeBanner2, 15000);
		
		function changeBanner3(){
			var next3 = (++k % $imgs3.length);
			$($imgs3.get(next3 - 1)).fadeOut(0);
			$($imgs3.get(next3)).fadeIn(1000);
		}
		setInterval(changeBanner3, 15000);
		
		//SIDEBAR IMAGES
		var $imgs4 = $(".fader_sidebar").find("a"),
		l = 0;
		function changeSideBar(){
			var next4 = (++l % $imgs4.length);
			$($imgs4.get(next4 - 1)).fadeOut(0);
			$($imgs4.get(next4)).fadeIn(1000);
		}
		setInterval(changeSideBar, 15000);
	});
	</script>
	
	<script type="text/javascript">
	window.__lc = window.__lc || {};
	window.__lc.license = 10069438;
	(function() {
	var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
	lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
	})();
	</script>
	<noscript>
	<a href="https://www.livechatinc.com/chat-with/10069438/">Chat with us</a>,
	powered by <a href="https://www.livechatinc.com/?welcome" rel="noopener" target="_blank">LiveChat</a>
	</noscript>
	
  </body>
</html>
